
header{
    background-color: #00BFB3;
}


header h1{
    text-align: center;
    font-size: 5em;
    color: #362D30;
}

.container {
    display: flex;
    padding: 2rem;
    color: #FFFFFC;
    justify-content: space-around;
}

ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 2rem;

}