

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.boas_vindas{
    margin-bottom: 2rem;
}


label{
    background-color: rgb(255, 255, 255);
}

.div_content{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
  
}

